<div class="julklapparcontent">
	<h1>Årets julklapp genom tiderna</h1>
	<br>
	<ul>
		<li>2019 – Mobillådan [11]</li>
		<li>2018 – Det återvunna plagget[10]</li>
		<li>2017 – Elcykeln[9]</li>
		<li>2016 – VR-glasögon[8]</li>
		<li>2015 – Robotdammsugaren[6]</li>
		<li>2014 – Aktivitetsarmbandet</li>
		<li>2013 – Råsaftcentrifugen</li>
		<li>2012 – Hörlurarna[7]</li>
		<li>2011 – Den färdigpackade matkassen (från exempelvis matkasseföretag eller livsmedelsbutiker)</li>
		<li>2010 – Surfplattan</li>
		<li>2009 – Spikmattan</li>
	</ul>
</div>